<!DOCTYPE html>
<html lang="en">
<head>
    {% style %}
    :root {
        --color-background: {{ settings.color_page_bg }};
    }
    {% endstyle %}
    {{ content_for_header }}
</head>
<body>
    {{ content_for_layout }}
    <h1>Hello Shopify 2022</h1>
</body>
</html>
