<!DOCTYPE html>
<html lang="en">
<head>
    {% style %}
    :root {
        --color-background: {{ settings.color_page_bg }};
    }
    body {
        margin: 0;
    }
    {% endstyle %}
    {{ content_for_header }}
</head>
<body>
    {{ content_for_layout }}
    {% section 'footer' %}
</body>
</html>
