<p>Featured collection</p>

{% schema %}
{
  "name": "featured-collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "featured-collection"
    }
  ]
}
{% endschema %}
