<div id="banner-{{ section.id }}">
    <h2>{{ section.settings.header }}</h2>
    {%- if section.settings.image != blank -%}
      <img
        src="{{ section.settings.image | image_url: 'large' }}"
        alt="{{ section.settings.image.alt }}"
        loading="lazy"
      >
    {% endif %}
</div>

{% schema %}
{
  "name": "image-banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image-banner"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header text"
    }
  ]
}
{% endschema %}
