<div>
    <p>Image with text</p>
    <img src="{{ section.settings.image | image_url: 'medium' }}" alt="">
</div>

{% schema %}
{
    "name": "image-with-text",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "image-with-text label"
        }
    ],
    "presets": [
        {
        "name": "image-with-text presets"
        }
    ]
}
{% endschema %}
