<div id="banner-{{ section.id }}">
    <h2>{{ section.settings.banner_text }}</h2>
</div>

{% schema %}
{
    "name": "banner",
   "settings": [
        {
            "type": "text",
            "id": "banner_text",
            "label": "banner"

        }
   ]
}
{% endschema %}
