<h2>My products</h2>
{% for item in collections['creams'].products %}
    <p>{{ item.title }} from <span>{{ item.metafields.custom.planeta.value }}</span></p>
{% endfor %}
{% schema %}
{
    "name": "main-product"
}
{% endschema %}
