{{ 'mi-seccion.css' | asset_url | stylesheet_tag }}

  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.custom_text_body }}</p>

{% schema %}
{
  "name": "test_section",
  "tag": "section",
  "class": "myclass",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "test_section"
    },
    {
      "id": "custom_text_body",
      "type": "richtext",
      "label": "Add custom text below",
      "default": "<p>Add your text here</p>"
    }
  ],
  "presets": [
    {
      "name": "test_section",
      "settings": {
        "title": "test_section"
      }
    }
  ]
}
{% endschema %}
