<h2>Mi seccion de prueba</h2>

{% schema %}
{
  "name": "test_section",
  "tag": "section",
  "class": "test_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "test_section"
    }
  ],
  "presets": [
    {
      "name": "test_section",
      "settings": {
        "title": "test_section"
      }
    }
  ]
}
{% endschema %}

